@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-slate-100 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  margin: 0;
  min-height: 100vh;
  font-family: Inter, ui-sans-serif, system-ui;
}

button {
  @apply transition;
}
